<div class="register-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="register-card">
        <div class="register-form">
            <div class="register-title">
                <h2>Registro</h2>
            </div>
            <form [formGroup]="registerForm" fxLayout="column" fxLayoutAlign="space-evenly none">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="first_name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Apellido" formControlName="last_name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput placeholder="Nombre de Usuario" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button [disabled]="registerForm.invalid" type="button" (click)="register()"
                    color="primary">
                    Registrarse
                </button>
            </form>
            <div class="register-footer">
                <span>¿Ya tienes una cuenta? <a [routerLink]="['/auth/login']">Inicia Sesión</a></span>
            </div>
        </div>
    </mat-card>
</div>